//color:
$c-c:rgb(235, 91, 18);
$c-b:black;
$c-w:white;
$c-g:rgb(82, 80, 80);
$c-be:beige;

//finst-size:
 $h1:80px;
$h2:45px;
$h3:25px;
 $h4:21px;
 $h5:20px;
$h6:15px;
$btn:20px;
//font-family:
$f1: 'Abril Fatface', serif;
$f2: 'Cormorant', serif;
$f3: 'Lilita One', sans-serif;
$fp: 'Onest', sans-serif;
