@import "mixin";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0px 32px;
}

nav {
    width: 100%;
    @include flex;

    .navbar {
        width: 100%;
        @include flex;
        justify-content: space-between;
        padding: 50px 0;

        i {
            display: none;
        }

        .ul-1 {

            @include flex;

            ul {
                @include flex;
                list-style: none;
                gap: 50px;

                li {
                    transition: all .5s ease;

                    &:hover {
                        color: $c-c;
                        cursor: pointer;
                    }
                }
            }
        }

        .nav-btn {
            @include btn;
            width: 15%;
        }
    }
}

.creative {
    width: 100%;
    background-color: beige;

    .sun {
        position: relative;

        .sun-1 {
            position: absolute;
            left: -90px;
            top: 80px;

            img {
                width: 60%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .design {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .web-1 {
            width: 55%;
            @include flex-c;
            gap: 20px;

            .web-a {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                .wb {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                .w4 {
                    width: 200px;
                }
            }

            h1 {
                font-size: $h1;
                font-family: $f3;
            }

            p {
                font-size: 19px;
                color: $c-g;
                padding: 10px 0;
                font-family: $fp;

            }

            .my {
                @include btn;
            }

        }

        .photo {
            width: 45%;
            position: relative;

            .img-2 {
                width: 75%;
                object-fit: cover;
                position: absolute;
                top: 50px;
                left: 20px;
                //z-index: 2;
            }

            .img-1 {
                width: 95%;
                // height: 100%;
                position: relative;
                object-fit: cover;

                z-index: 1;
            }
        }
    }
}


.project {
    width: 100%;
    @include flex;

    .year {
        @include cont;
        justify-content: space-between;
        padding: 100px 0;

        .year-a {
            width: 45%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .year-b {
            width: 49%;
            @include flex-c;
            gap: 30px;

            .nam1 {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                .nam-a {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .nam-b {
                    width: 100px;
                }

            }

            .nam2 {
                width: 100%;
                @include flex-c;
                gap: 30px;

                h2 {
                    font-size: $h2;
                    font-family: $f3;
                }

                p {
                    font-family: $fp;
                }
            }

            .nam3 {
                width: 100%;
                display: flex;

                .nar1 {
                    width: 50%;
                    display: flex;
                    align-items: center;

                    .bir {

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }

                    .iki {

                        .hh {
                            font-size: $h5;
                            color: $c-c;
                            font-family: $f1;
                        }

                        .hj {
                            font-size: $h5;

                        }
                    }
                }
            }

            .nam4 {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .nar3 {
                    width: 48%;
                    display: flex;
                    gap: 10px;

                    i {
                        color: $c-c;
                    }

                    p {
                        font-family: $fp ;
                    }
                }
            }

            .nam5 {
                @include btn;
            }
        }
    }
}

.services {
    width: 100%;

    .offer {
        width: 100%;
        @include flex-d;
        gap: 50px;
        padding: 100px 0;

        .up {
            width: 70%;

            @include flex-d;
            gap: 30px;

            .ser {
                width: 100%;
                @include flex;
                gap: 10px;

                .ser1 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .ser2 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .offer-1 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 24px;

            .div8 {
                @include flex-d;
                text-align: center;
                padding: 50px 30px;
                gap: 20px;
                border: 1px solid $c-c;
                border-radius: 7px;

                h3 {
                    font-size: $h3;
                    font-family: $f2;
                }

                p {
                    font-family: $fp;
                    font-size: 15px;
                }

                &:hover {
                    background-color: rgb(249, 241, 231);

                }
            }
        }
    }
}


.resume {
    width: 100%;
    @include flex;
    background-color: $c-be;

    .computer {
        @include cont;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;

        .comp {
            max-width: 70%;
            width: 100%;
            @include flex-d;
            gap: 20px;


            .comp-a {
                width: 100%;
                @include flex;
                gap: 10px;

                .comp1 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .comp2 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .science {
            max-width: 1400px;
            width: 100%;
            display: flex;

            .edu-a {
                max-width: 18%;
                width: 100%;

                //position: relative;
                .edu1 {
                    width: 2px;
                    height: 176px;
                    background-color: black;
                    margin-left: 10px;
                    // position: absolute;
                    // left: 0;
                }

                .edu5 {
                    width: 2px;
                    height: 120px;
                    background-color: black;
                    margin-left: 10px;
                }

                .edu2 {
                    width: 200px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .edu3 {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $c-c;
                    }

                    .edu4 {
                        h3 {
                            font-size: $h3;
                        }
                    }

                }
            }

            .edu-b {
                max-width: 82%;
                width: 100%;

                @include flex-c;
                gap: 30px;

                .b1 {
                    width: 100%;
                    background-color: $c-w;
                    display: flex;
                    border-radius: 10px;

                    .b10 {
                        width: 33%;
                        padding: 30px 30px 50px 30px;
                        @include flex-c;
                        gap: 20px;


                        h3 {
                            font-size: 21px;
                        }

                        p {
                            font-family: $fp;
                            color: gray;
                            font-size: 14px;
                        }

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }
                    }

                    .b11 {
                        width: 33%;
                        padding: 30px 30px 50px 30px;
                        @include flex-c;
                        gap: 20px;


                        .b4 {

                            @include flex;
                            gap: 10px;

                            .b6 {
                                width: 100%;
                                height: 2px;
                                background-color: $c-b;

                            }

                        }

                        .b4 {

                            @include flex;
                            gap: 10px;

                            .b7 {
                                width: 60%;
                                height: 2px;
                                background-color: rgb(217, 215, 215);
                            }
                        }

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }

                        h3 {
                            font-size: 21px;
                        }

                        p {
                            font-family: $fp;
                            color: gray;
                            font-size: 14px;
                        }


                    }

                    .b12 {
                        width: 33%;
                        padding: 30px 30px 50px 30px;
                        @include flex-c;
                        gap: 20px;


                        h3 {
                            font-size: 21px;
                        }

                        p {
                            font-family: $fp;
                            color: gray;
                            font-size: 14px;
                        }

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }
                    }

                    .b3 {
                        width: 33%;
                        padding: 30px 30px 50px 30px;
                        @include flex-c;
                        gap: 20px;
                        border-right: 1px solid rgb(217, 215, 215);


                        h3 {
                            font-size: 21px;
                        }

                        p {
                            font-family: $fp;
                            color: gray;
                            font-size: 14px;
                        }

                        .b4 {

                            @include flex;
                            gap: 10px;

                            .b6 {
                                width: 100%;
                                height: 2px;
                                background-color: $c-b;

                            }

                        }

                        .b4 {

                            @include flex;
                            gap: 10px;

                            .b7 {
                                width: 60%;
                                height: 2px;
                                background-color: rgb(217, 215, 215);
                            }

                            .b6 {
                                width: 100%;
                                height: 2px;
                                background-color: rgb(217, 215, 215);
                            }
                        }

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }


                    }
                }

            }
        }
    }
}

.test {
    width: 100%;
    @include flex;

    .back {
        @include cont;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;

        .back-a {
            max-width: 70%;
            width: 100%;
            @include flex-d;
            gap: 20px;


            .back-b {
                width: 100%;
                @include flex;
                gap: 10px;

                .back1 {
                    width: 20px;
                    height: 20px;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .back2 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .back-c {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .back3 {
                width: 32%;
                background-color: $c-be;
                padding: 40px 30px;
                border-radius: 7px;
                @include flex-c;
                gap: 20px;

                &:hover {
                    background-color: rgb(230, 224, 217);
                    transition: all .5s ease;
                }

                .client {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .client1 {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .c1 {
                        width: 150px;

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }

                        p {
                            color: $c-g;
                        }
                    }

                }

                .client2 {
                    width: 100%;

                    p {
                        color: $c-g;
                        font-size: 17px;

                    }
                }

            }

            .back4 {
                width: 32%;
                background-color: $c-be;
                padding: 40px 30px;
                border-radius: 7px;
                @include flex-c;
                gap: 20px;

                &:hover {
                    background-color: rgb(230, 224, 217);
                    transition: all .5s ease;
                }

                .client {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .client1 {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                    }

                    .c1 {
                        width: 150px;

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }

                        p {
                            color: $c-g;
                        }
                    }

                }

                .client2 {
                    width: 100%;

                    p {
                        color: $c-g;
                        font-size: 17px;

                    }
                }

            }

            .back5 {
                width: 32%;
                background-color: $c-be;
                padding: 40px 30px;
                border-radius: 7px;
                @include flex-c;
                gap: 20px;

                &:hover {
                    background-color: rgb(230, 224, 217);
                    transition: all .5s ease;
                }

                .client {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .client1 {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .c1 {
                        width: 150px;

                        h4 {
                            font-size: $h4;
                            font-family: $f2;
                        }

                        p {
                            color: $c-g;
                        }
                    }

                }

                .client2 {
                    width: 100%;

                    p {
                        color: $c-g;
                        font-size: 17px;

                    }
                }

            }

        }
    }
}

.visit {
    width: 100%;
    @include flex;

    .port {
        width: 100%;
        @include flex-d;
        gap: 50px;

        .port-a {
            width: 70%;
            @include flex-d;
            gap: 20px;


            .port1 {
                width: 100%;
                @include flex;
                gap: 10px;

                .port2 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .port3 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .port-b {
            width: 60%;
            @include flex;
            justify-content: space-between;

            p {
                color: $c-g;
                font-family: $fp;
                font-size: 15px;

                &:hover {
                    color: $c-b;
                }
            }

            #pp {
                color: $c-c;

                &:hover {
                    color: $c-b;
                }
            }
        }

        .port-c {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 24px;

            .port8 {

                // width: 70%;
                border-radius: 5px;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 340px;
                    transition: all .5s ease;
                    border-radius: 5px;

                    &:hover {
                        filter: brightness(50%);
                    }

                }
            }

            .port9 {
                grid-column: 2/4;
                border-radius: 5px;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 340px;
                    border-radius: 5px;
                    transition: all .5s ease;

                    &:hover {
                        filter: brightness(50%);
                    }

                }
            }

        }

    }

}

.partner {
    width: 100%;
    @include flex;

    .brain {
        @include cont;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;

        .brain-a {

            width: 70%;
            @include flex-d;
            gap: 20px;


            .brain1 {
                width: 100%;
                @include flex;
                gap: 10px;

                .brain2 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .brain3 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .brain-b {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .brain6 {
                width: 15%;
                border: 1px solid $c-c;
                border-radius: 7px;
                @include flex;
                padding: 20px;

                img {
                    transition: all .8s ease;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }

            .brain7 {
                width: 15%;
                border: 1px solid $c-c;
                border-radius: 7px;
                @include flex;
                padding: 20px;
                
                    img {
                        transition: all .8s ease;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }

            }

            .brain8 {
                width: 15%;
                border: 1px solid $c-c;
                border-radius: 7px;
                @include flex;
                padding: 20px;
                img {
                    transition: all .8s ease;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
}


.blog {
    width: 100%;
    @include flex;

    .latest {
        @include cont;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;


        .blog-a {
            width: 70%;
            @include flex-d;
            gap: 20px;


            .blog1 {
                width: 100%;
                @include flex;
                gap: 10px;

                .blog2 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }

                .blog3 {
                    width: 100px;
                    font-family: $f2;

                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .blog-b {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .cereal3 {
                width: 32%;
                // height: 500px;
                border: 1px solid $c-c;
                border-radius: 7px;


                .cereal1 {
                    width: 100%;
                    height: 300px;
                    border-radius: 7px;
                    overflow: hidden;
                    position: relative;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 7px;
                        transition: all .5s ease;

                        &:hover {
                            filter: brightness(50%);
                        }

                    }
                }

                .cereal2 {
                    width: 100%;
                    //  height: 200px;
                    padding: 30px;
                    @include flex-c;
                    gap: 30px;

                    h6 {
                        font-size: $h6;
                        font-family: $f3;
                        color: $c-c;
                        cursor: pointer;
                    }

                    h4 {
                        font-size: 24px;
                        font-family: $f3;
                        cursor: pointer;

                        &:hover {
                            color: $c-c;
                        }

                    }

                    p {
                        font-family: $fp;
                    }
                }

            }
        }
    }
}

.contact {
    width: 100%;
    @include flex;

    .from {
        @include cont;
        flex-direction: column;
        gap: 30px;
        padding: 100px 0;


        .from-a {
            width: 70%;
            @include flex-d;
            gap: 20px;


            .from1 {
                width: 100%;
                @include flex;
                gap: 10px;

                .from2 {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .from3 {
                    width: 100px;
                    font-family: $f2;
                }

            }

            h2 {
                font-size: $h2;
                font-family: $f2;
            }
        }

        .from-b {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .your {
                width: 63%;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                input {
                    width: 49%;
                    border: 1px solid $c-c;
                    padding: 25px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border-radius: 4px;
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 1px solid $c-c;
                    border-radius: 4px;

                    font-size: 16px;
                    resize: none;
                }

                .send {
                    @include btn;
                    margin: 30px 0;
                }

            }


            .address {
                width: 30%;
                @include flex-c;
                gap: 40px;

                .add3 {
                    width: 100%;
                    display: flex;
                    gap: 20px;

                    .add1 {
                        background-color: beige;
                        width: 70px;
                        height: 70px;
                        @include flex;
                        border-radius: 7px;

                        i {
                            color: $c-c;
                            font-size: 30px;

                        }

                    }

                    .add2 {
                        @include flex-c;
                        gap: 10px;

                        h5 {
                            font-size: $h5;
                            font-family: $f3;
                        }

                        p {
                            font-family: $fp;

                            &:hover {
                                color: $c-c;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-1 {
    width: 100%;
    @include flex;
    background-color: $c-b;

    .footer-a {
        width: 100%;
        padding: 100px 0;

        .foo1 {
            width: 100%;
            display: flex;
            gap: 20px;

            .ftr1 {
                width: 30%;
                @include flex-c;
                gap: 40px;

                img {
                    width: 40%;
                }

                p {
                    color: $c-w;
                    font-family: $fp;
                    font-size: 15px;

                }

                h3 {
                    font-family: $f3;
                    color: $c-w;
                    font-size: $h4;
                }

            }

            .ftr2 {
                width: 15%;
                color: $c-w;
                @include flex-c;
                gap: 40px;

                h4 {
                    font-family: $f3;
                    font-size: $h4 ;
                }

                ul {
                    list-style: none;
                    @include flex-c;
                    gap: 18px;

                    li {
                        transition: all .5s ease;

                        &:hover {
                            color: $c-c;
                            cursor: pointer;
                        }
                    }
                }
            }

            .ftr3 {
                width: 25%;
                color: $c-w;
                @include flex-c;
                gap: 40px;
                h4 {
                    font-family: $f3;
                    font-size: $h4 ;
                }

                .ftrall {
                    @include flex-c;
                    gap: 20px;

                    .icon {
                        display: flex;
                        gap: 30px;

                        .me4 {
                            background-color: $c-c;
                            width: 40px;
                            height: 40px;
                            @include flex;
                            border-radius: 5px;
                            transition: all .5s ease;

                            &:hover {
                                background-color: $c-w;
                                cursor: pointer;
                            }

                            i {
                                font-size: 20px;

                                &:hover {
                                    color: $c-c;
                                    cursor: pointer;
                                }

                            }
                        }
                    }

                    .icon1 {
                        display: flex;
                        gap: 10px;

                        i {
                            font-size: 20px;
                            color: $c-c;
                        }

                        p {
                            font-size: 15px;
                            font-family: $fp;
                        }
                    }

                }
            }
        }
    }
}

.footer-2 {
    width: 100%;
    background-color: $c-b;
    @include flex;

    .footer-b {
        width: 100%;
        @include flex;
        padding: 50px 0;

        .footerend {
            width: 100%;
            @include flex;

            .end1 {
                width: 50%;
                color: $c-w;
                font-size: 17px;
            }

            .end2 {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                .end3 {
                    width: 70%;
                    @include flex;
                    justify-content: flex-end;

                    ul {
                        list-style: none;
                        @include flex;
                        gap: 90px;

                        li {
                            font-size: 17px;
                            color: $c-w;
                            transition: all .5s ease;

                            &:hover {
                                color: $c-c;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:990px) {
    nav {
        width: 100%;

        .container {
            padding: 0 40px;
            @include flex;

            .navbar {
                width: 100%;
                padding: 25px 0;


                .img-1 {
                    img {
                        width: 70%;
                    }
                }

                .ul-1 {
                    ul {
                        gap: 30px;
                    }
                }

                .nav-btn {
                    background: none;
                    font-size: 17px;
                    color: $c-b;
                }
            }
        }
    }


    .creative {
        width: 100%;

        .container {
            padding: 0 10px;

            .sun {
                width: 100%;
                left: 85px;
            }

            .design {
                width: 100%;
                flex-direction: column-reverse;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;


                .photo {
                    width: 80%;
                }

                .web-1 {
                    width: 100%;

                    h1 {
                        font-size: 50px;

                    }

                    p {
                        font-size: 17px;
                    }


                }
            }
        }
    }


    .project {
        width: 100%;

        .container {

            .year {
                max-width: 1400px;
                width: 100%;
                padding: 50px 0;
                flex-direction: column;
                gap: 30px;

                .year-a {
                    width: 60%;

                }

                .year-b {
                    width: 80%;

                    .nam2 {
                        h2 {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }

    .services {
        width: 100%;

        .container {
            .offer {
                width: 100%;

                .up {
                    width: 100%;
                    gap: 20px;

                    h2 {
                        font-size: 40px;
                    }
                }

                .offer-1 {
                    width: 80%;
                    grid-gap: 24px;
                    grid-template-columns: repeat(2, 1fr);

                    .div8 {
                        padding: 50px 30px;
                    }
                }
            }
        }
    }

    .resume {
        width: 100%;

        .container {

            .computer {
                max-width: 1400px;
                width: 100%;


                .comp {
                    max-width: 100%;

                    // width: 100%;
                    h2 {
                        font-size: 40px;
                    }

                }
            }

            .science {
                max-width: 1400px;
                width: 100%;
                gap: 0;
                @include flex-d;


                .edu-a {
                    display: none;
                }

                .edu-b {

                    max-width: 80%;
                    // padding: 0 100px;

                    .b1 {
                        flex-direction: column;
                        width: 100%;

                        .b3 {
                            width: 100%;
                            padding: 30px 20px 10px 20px;
                            border-right: none;

                            h4 {
                                font-size: 22px;
                            }

                            .b4 {
                                width: 100%;

                                .b7 {
                                    width: 100%;
                                }
                            }
                        }

                        .b10 {
                            width: 100%;
                            padding: 30px 20px 10px 20px;
                        }

                        .b11 {
                            width: 100%;
                            padding: 30px 20px 10px 20px;

                            .b4 {
                                width: 100%;

                                .b7 {
                                    width: 100%;
                                }
                            }
                        }

                        .b12 {

                            width: 100%;
                            padding: 30px 20px 10px 20px;

                        }
                    }
                }
            }

        }
    }

    .test {
        width: 100%;

        .container {

            .back {
                max-width: 1400px;
                width: 100%;


                .back-a {
                    max-width: 100%;

                    // width: 100%;
                    h2 {
                        font-size: 38px;
                    }


                }

                .back-c {
                    width: 80%;
                    //padding: 0 100px;

                    .back3 {
                        width: 48%;

                    }

                    .back5 {
                        width: 48%;
                    }

                    .back4 {
                        display: none;
                    }
                }

            }
        }

    }

    .visit {
        width: 100%;

        .container {
            .port {
                width: 100%;

                .port-a {
                    width: 100%;

                    h2 {
                        font-size: 40px;
                    }
                }

                .port-b {
                    width: 73%;
                    justify-content: space-around;

                    p {
                        font-size: 14px;
                    }

                }

                .port-c {
                    width: 80%;
                    grid-template-columns: 1fr 1fr;

                    .port9 {
                        grid-column: 2/3;
                    }
                }
            }
        }
    }

    .partner {
        width: 100%;

        .container {
            padding: 0 20px;

            .brain {
                width: 100%;
                padding: 50px 0;

                .brain-a {
                    width: 70%;

                    h2 {
                        font-size: 40px;
                    }
                }

                .brain-b {
                    width: 80%;
                    display: flex;


                    .brain6 {
                        width: 32%;
                        
                        img {
                            width: 50%;
                            object-fit: cover;
                    
                        }

                    }

                    .brain7 {
                        display: none;
                    }

                    .brain8 {
                        display: none;
                    }
                }
            }
        }
    }

    .blog {
        width: 100%;

        .container {
            padding: 0 20px;

            .latest {
                max-width: 1400px;
                width: 100%;

                .blog-a {
                    width: 100%;

                    h2 {
                        font-size: 40px;
                    }

                }

                .blog-b {
                    width: 80%;

                    .cereal3 {
                        width: 32%;

                        .cereal1 {
                            height: 150px;
                        }

                        .cereal2 {
                            padding: 30px 20px;
                            width: 100%;

                            h4 {
                                font-size: 27px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        width: 100%;

        .container {
            padding: 0 10px;

            .from {
                max-width: 1400px;
                width: 100%;

                .from-a {
                    width: 100%;

                    h2 {
                        font-size: 40px;
                    }

                }

                .from-b {
                    width: 80%;
                    gap: 30px;

                    .your {
                        width: 59%;

                        input {
                            width: 48%;
                        }
                    }

                    .address {
                        width: 40%;

                        .add3 {
                            width: 100%;

                            .add1 {
                                width: 70px;
                            }

                            .add2 {
                                h5 {
                                    font-size: 18px;
                                }

                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .footer-1 {
        width: 100%;

        .container {
            .footer-a {
                width: 100%;
                @include flex;

                .foo1 {
                    @include flex;
                    flex-wrap: wrap;
                    width: 80%;
                    gap: 40px;

                    .ftr1 {
                        width: 45%;
                    }

                    .ftr2 {
                        width: 45%;
                    }

                    .ftr3 {
                        width: 45%;
                    }
                }
            }
        }
    }

    .footer-2 {
        width: 100%;

        .container {
            .footer-b {
                width: 100%;

                .footerend {
                    width: 80%;

                    .end2 {
                        width: 50%;

                        .end3 {
                            width: 100%;

                            ul {
                                gap: 60px;
                            }
                        }
                    }
                }

            }
        }
    }

}


@media screen and (max-width:800px) {
    nav {
        width: 100%;

        .container {
            padding: 0 20px;
            @include flex;

            .navbar {
                width: 80%;
                padding: 25px 0;

                .img-1 {
                    img {
                        width: 70%;
                    }
                }

                .ul-1 {
                    width: 57%;

                    ul {

                        gap: 30px;
                    }
                }

                .nav-btn {
                    font-size: 17px;
                    color: $c-b;
                }
            }
        }
    }
    .footer-2 {
        width: 100%;

        .container {
            .footer-b {
                width: 100%;

                .footerend {
                    width: 100%;
                    //padding: 0 0 0 20px;

                    .end2 {
                        width: 50%;

                        .end3 {
                            width: 100%;

                            ul {
                                gap: 60px;
                            }
                        }
                    }
                }

            }
        }
    }


}


@media screen and (max-width:750px) {
    nav {
        width: 100%;

        .container {
            padding: 0 20px;
            @include flex;

            .navbar {
                width: 100%;
                padding: 25px 0;

                .img-1 {
                    img {
                        width: 80%;
                    }
                }

                .ul-1 {
                    display: none;
                }

                .nav-btn {
                    display: none;
                }

                i {
                    display: flex;
                    font-size: 40px;

                }
            }
        }
    }
    
}

@media screen and (max-width:576px) {



    .creative {
        width: 100%;

        .container {
            padding: 0 10px;

            .sun {
                width: 100%;
                left: 90px;
                top: -65px;
            }

            .design {
                width: 100%;
                flex-direction: column-reverse;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;


                .photo {
                    width: 100%;
                }

                .web-1 {
                    width: 100%;

                    h1 {
                        font-size: 50px;

                    }

                    p {
                        font-size: 17px;
                    }


                }
            }
        }
    }


    .project {
        width: 100%;

        .container {
            padding: 0 20px;

            .year {
                width: 100%;
                padding: 50px 0;
                flex-direction: column;
                gap: 50px;

                .year-a {
                    width: 100%;
                }

                .year-b {
                      width: 100%;

                    .nam2 {
                        h2 {
                            font-size: 43px;
                        }
                    }

                    .nam3 {
                        width: 100%;
                        flex-direction: column;
                        gap: 30px;

                        .nar1 {
                            gap: 10px;


                        }
                    }

                    .nam4 {
                        width: 100%;
                        flex-direction: column;
                        gap: 30px;

                        .nar3 {
                            gap: 30px;

                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .services {
        width: 100%;

        .container {
            padding: 0 20px;

            .offer {
                width: 100%;

                .up {
                    width: 100%;
                    gap: 20px;
                    text-align: center;
                    @include flex;

                    h2 {
                        font-size: 40px;
                    }
                }

                .offer-1 {
                    width: 100%;
                    grid-gap: 24px;
                    grid-template-columns: repeat(1, 1fr);

                    .div8 {
                        width: 100%;
                    }

                }
            }
        }
    }

    .resume {
        width: 100%;

        .container {
            padding: 0 20px;

            .computer {
                max-width: 1400px;
                width: 100%;


                .comp {
                    max-width: 100%;
                    text-align: center;

                    // width: 100%;
                    h2 {
                        font-size: 40px;

                    }

                }
            }

            .science {
                max-width: 1400px;
                width: 100%;
                gap: 0;

                .edu-a {
                    display: none;
                }

                .edu-b {
                    max-width: 100%;
                    padding: 0;

                    // width: 100%;
                    .b1 {
                        flex-direction: column;
                        width: 100%;

                        .b3 {
                            width: 100%;
                            padding: 30px 20px 10px 20px;

                            h4 {
                                font-size: 22px;
                            }

                            .b4 {
                                width: 100%;

                                .b7 {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .test {
        width: 100%;

        .container {
            padding: 0 20px;

            .back {
                max-width: 1400px;
                width: 100%;


                .back-a {
                    max-width: 100%;

                    // width: 100%;
                    h2 {
                        font-size: 38px;
                    }


                }

                .back-c {
                    width: 100%;
                    // padding: 0 15px;

                    .back3 {
                        width: 100%;

                    }

                    .back4 {
                        display: none;
                    }

                    .back5 {
                        display: none;
                    }
                }

            }
        }

    }

    .visit {
        width: 100%;

        .container {
            padding: 0 20px;

            .port {
                width: 100%;

                .port-a {
                    width: 100%;

                    h2 {
                        font-size: 40px;
                    }
                }

                .port-b {
                    width: 70%;
                    flex-wrap: wrap;
                    gap: 10px;

                    p {
                        font-size: 14px;
                    }
                }


                .port-c {
                    width: 100%;
                    // grid-template-columns: 1fr;
                    display: flex;
                    flex-direction: column;

                }
            }
        }
    }

    .partner {
        width: 100%;

        .container {
            padding: 0 20px;

            .brain {
                width: 100%;
                padding: 50px 0;

                .brain-a {

                    width: 100%;

                    h2 {
                        font-size: 40px;
                    }
                }

                .brain-b {

                    width: 100%;
                    display: flex;
                    padding: 0 1px;

                    .brain6 {
                        display: none;

                    }

                    .brain7 {
                        display: none;
                    }

                    .brain8 {
                        display: flex;
                        width: 100%;
                        height: 200px;

                        img {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .blog {
        width: 100%;

        .container {
            padding: 0 20px;

            .latest {
                width: 100%;
                // width: 100%;

                .blog-a {
                    width: 100%;


                    h2 {
                        font-size: 40px;
                    }

                }

                .blog-b {
                    width: 100%;
                    flex-direction: column;
                    gap: 30px;

                    .cereal3 {
                        width: 100%;

                        .cereal1 {
                            height: 300px;

                            img {
                                width: 80%;
                            }
                        }

                        .cereal2 {
                            padding: 30px 20px;
                            width: 100%;

                            h4 {
                                font-size: 27px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        width: 100%;

        .container {
            padding: 0 20px;

            .from {
                width: 100%;

                .from-a {
                    width: 100%;
                    text-align: center;

                    h2 {
                        font-size: 42px;
                    }

                }

                .from-b {
                    width: 100%;
                    gap: 30px;

                    flex-direction: column;

                    .your {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }

                    .address {
                        width: 100%;

                        .add3 {
                            width: 100%;

                            .add1 {
                                width: 70px;
                            }

                            .add2 {
                                h5 {
                                    font-size: 18px;
                                }

                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .footer-1 {
        width: 100%;

        .container {
            padding: 0 20px;

            .footer-a {
                width: 100%;
                @include flex;

                .foo1 {
                    @include flex;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 40px;

                    .ftr1 {
                        width: 100%;
                    }

                    .ftr2 {
                        width: 45%;
                    }

                    .ftr3 {
                        width: 100%;
                    }
                }
            }
        }
    }

    .footer-2 {
        width: 100%;

        .container {
            padding: 0 20px;

            .footer-b {
                width: 100%;

                .footerend {
                    width: 100%;
                    flex-direction: column;
                    gap: 20px;

                    .end1 {
                        width: 100%;
                    }

                    .end2 {
                        width: 100%;

                        .end3 {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;

                            ul {
                                gap: 60px;
                            }
                        }
                    }
                }

            }
        }
    }
}